---
layout: single
author_profile: true
---

## Publications\n

<h2>Selected Publications</h2>

<ul class="publication-list">
  {% for publication in site.data.publications %}
    {% if publication.selected %}
      <li>
        <strong>{{ publication.title }}</strong><br>
        <span class="publication-authors">{{ publication.authors }}</span><br>
        <em>{{ publication.journal }}</em>{% if publication.volume %}, {{ publication.volume }}{% endif %}{% if publication.pages %}, {{ publication.pages }}{% endif %} ({{ publication.year }}).
        {% if publication.doi %}
          <a href="https://doi.org/{{ publication.doi }}">DOI</a>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>



