---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom styles */

/* Profile picture */
.author__avatar {
  width: 320px !important;
}

.author__avatar .u-photo {
  width: 320px !important;
  max-width: none !important;
  height: auto !important;
  border-radius: 0 !important;
}
